{% extends 'base.html.twig' %}

{% block title %}Création d'une annonce{% endblock %}

{# Permet de dire à Twig d'utiliser un theme défini sur cette page Twig #}
{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}

<div class="container">
    <h1 class="my-5">Création d'une nouvelle annonce</h1>

    {# First way of doing #}
    {{ form_start(form) }}

    <div class="row">
        <div class="col">
            <div class="alert alert-light">
                <h2>General information</h2>
                <hr>
                {{ form_row(form.title) }}
                {{ form_row(form.slug) }}
                {{ form_row(form.price) }}
                {{ form_row(form.rooms) }}
            </div>
            <div class="alert alert-light">
                <h2>Ad Details</h2>
                <hr>
                {{ form_row(form.introduction) }}
                {{ form_row(form.content) }}
            </div>
        </div>
        <div class="col">
            <div class="alert alert-light">
                <h2>Ad Picture</h2>
                <hr>
                {{ form_row(form.coverImage) }}
                {{ form_row(form.images) }}
            </div>
        </div>
    </div>
    <div class="alert alert-success clearfix">
        <h2 class="alert-heading">Save my Ad</h2>
        <p>You're nearly done ! </p>
        <button type="submit" class="btn btn-primary float-right">
        <i class="fas fa-check"></i>
        Save this new Ad
        </button>
    </div>

    {{ form_end(form) }}

    {#Other way of doing
    {{ form (form) }} #}

    {# Third way of doing
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, { 'attr' : {
            'class' : 'form-control',
            'placeholder' : 'Titre de l\'annonce'
        }}) }}
    </div> #}

</div>


{% endblock %}

{# Exemple de theme Twig créé à la main - précis mais long et fastidieux ; conseil - chercher des themes existants
{% block form_row %}

    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block text_widget %}
    <input type="text" class="form-control" name="{{ full_name }}" id="{{ id }}">
{% endblock %} #}

{% block _ad_images_widget %}
    <p>Ici, vous pouvez ajouter vos propres images</p>

    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
    </div>

{% endblock %}


{% block javascripts %}

<script src="/js/ad.js"></script>

{% endblock %}