{% extends 'base.html.twig' %}

{% block title %}Création d'une annonce{% endblock %}

{# Permet de dire à Twig d'utiliser un theme défini sur cette page Twig #}
{% form_theme form _self %}

{% block body %}

<div class="container">
    <h1>Création d'une nouvelle annonce</h1>

    {# First way of doing #}
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary"> Enregistrer la nouvelle annonce</button>

    {{ form_end(form) }}

    {#Other way of doing
    {{ form (form) }} #}

    {# Third way of doing
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, { 'attr' : {
            'class' : 'form-control',
            'placeholder' : 'Titre de l\'annonce'
        }}) }}
    </div> #}

</div>


{% endblock %}

{# Exemple de theme Twig créé à la main - précis mais long et fastidieux ; conseil - chercher des themes existants
{% block form_row %}

    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block text_widget %}
    <input type="text" class="form-control" name="{{ full_name }}" id="{{ id }}">
{% endblock %} #}

{% block _ad_images_widget %}
    <p>Ici, vous pouvez ajouter vos propres images</p>

    {{ form_widget(form) }}

    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
    </div>

{% endblock %}

{% block _ad_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _ad_images_entry_widget %}
    <div class="form-group" id="{{ id }}">
    <div class="row">
        <div class="col-10">
            <div class="row">
                <div class="col">
                    {{ form_widget(form.url)}}
                </div>
                <div class="col">
                    {{ form_widget(form.caption)}}
                </div>
            </div>
        </div>
        <div class="col-2">
            <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
        </div>
    </div>
    </div>
{% endblock %}

{% block javascripts %}

<script>
    $('#add-image').click(function(){
        // We count the number of current existing fields
        const index = $('#ad_images div.form-group').length;

        //Getting the prototype code given by Symfony
        const tmpl = $('#ad_images').data('prototype').replace(/__name__/g, index);

        //Injecting the new code in the form div
        $('#ad_images').append(tmpl);

        //setting delete Button
        handleDeleteButtons();

    });


    function handleDeleteButtons(){
        $('button[data-action="delete"]').click(function(){
            const target = this.dataset.target
            console.log(target);
        })
    }

    handleDeleteButtons();

</script>

{% endblock %}