{% extends 'base.html.twig' %}

{% block title %}Création d'une annonce{% endblock %}

{% form_theme form _self %}

{% block body %}

<div class="container">
    <h1>Création d'une nouvelle annonce</h1>

    {# First way of doing #}
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary"> Enregistrer la nouvelle annonce</button>

    {{ form_end(form) }}

    {#Other way of doing
    {{ form (form) }} #}

    {# Third way of doing
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, { 'attr' : {
            'class' : 'form-control',
            'placeholder' : 'Titre de l\'annonce'
        }}) }}
    </div> #}

</div>


{% endblock %}

{# Exemple de theme Twig créé à la main - précis mais long et fastidieux ; conseil - chercher des themes existants
{% block form_row %}

    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block text_widget %}
    <input type="text" class="form-control" name="{{ full_name }}" id="{{ id }}">
{% endblock %} #}